:root {
  --main: rgb(108, 6, 6);
  --hover: rgb(196, 23, 23);
  --shadow: rgba(108, 6, 6, 0.15);
  --bright: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
body {
  color: #333;
  background-color: #ffe9e9;
  line-height: 1.6;
  cursor: default;
}

/* Navigation Bar */

header {
  background-color: var(--main);
  z-index: 1000;
  position: fixed;
  width: 100%;
}
section {
  padding: 30px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
  box-shadow: 0 4px 10px var(--shadow);
}
.nav-link {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-link a {
  color: var(--bright);
  text-decoration: none;
  transition: 0.3s;
}
.nav-link a:hover {
  color: rgb(216, 125, 125);
}
.logo {
  color: var(--bright);
  letter-spacing: -1.5px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

/* home */

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 140px 7% 0;
}
.home-text {
  width: 50%;
}
.eyebrow {
  display: inline-block;
  background-color: var(--bright);
  padding: 10px 15px;
  border-radius: 999px;
  font-weight: bold;
  color: var(--main);
  margin-bottom: 10px;
}
.home-text h1 {
  font-size: 60px;
  line-height: 1.1;
}
.home-text h2 {
  font-size: 35px;
  color: #6c6460;
}
.subtitle {
  font-size: 17px;
  margin: 20px 0;
  color: var(--main);
  font-weight: bold;
  white-space: nowrap;
}
.home-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}
.btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  background-color: var(--main);
  color: var(--bright);
}
.btn2 {
  background-color: #ffe9e9;
  border: 2px solid var(--main);
  color: var(--main);
}
.btn:hover {
  transform: scaleX(0.94);
}
.home-image {
  width: 40%;
  text-align: center;
}
.home-image img {
  border-radius: 50%;
  width: 270px;
}

/* about */

.title {
  color: var(--main);
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.about {
  display: flex;
  padding: 0 8%;
  align-items: center;
  gap: 50px;
}
.about-image {
  width: 40%;
}
.about-image img {
  width: 300px;
  height: 400px;
  border-radius: 10% 10% 60% 10%;
  transition: 0.3s;
}
.about-image img:hover {
  transform: rotate(-10deg);
}

.about-text p {
  font-size: 17px;
  margin-bottom: 20px;
}
.about-info {
  margin-top: 25px;
}

.about-info p {
  margin: 7px 0;
  color: var(--main);
  font-weight: bold;
}
/* education */

.cards {
  justify-content: center;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.cards div {
  width: 250px;
  background-color: var(--bright);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px var(--shadow);
  transition: 0.3s;
  cursor: pointer;
}
.cards div:hover {
  transform: translateY(-5px);
}

/* certificates */

.cert-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 0 8%;
}
.cert-cards div {
  width: 300px;
  background-color: var(--bright);
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 10px var(--shadow);
  transition: 0.3s;
  cursor: pointer;
}
.cert-cards div:hover {
  transform: translateY(-8px);
}
.cert-cards h3 {
  color: var(--main);
  margin-bottom: 12px;
  font-size: 20px;
}
.cert-cards p {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
}
.udacity-cert,
.grade-cert {
  display: inline-block;
  background-color: var(--main);
  color: var(--bright);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}
.udacity-cert:hover {
  background-color: var(--hover);
}
.grade-cert {
  padding: 10px 15px;
  margin: 12px;
  margin-top: 2px;
}
.grade-cert:hover {
  background-color: var(--hover);
}
/* skills */
.skill-text {
  text-align: center;
  margin-bottom: 50px;
}
.skills {
  display: flex;
  list-style: none;
  gap: 25px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skills li {
  background-color: var(--main);
  border-radius: 5px 40%;
  padding: 15px 30px;
  color: var(--bright);
  font-weight: bold;
  box-shadow: 0 4px 10px var(--shadow);
  transition: 0.3s;
}
.skills li:hover {
  background-color: var(--hover);
  border-radius: 40% 5px;
}

/* goals */

.goals-intro {
  text-align: center;
  font-size: 19px;
  color: var(--main);
  margin-bottom: 30px;
}
.goal-text {
  font-size: 16px;
}
.goal-cards {
  justify-content: center;
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}
.goal-cards div {
  width: 300px;
  background-color: var(--bright);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px var(--shadow);
  transition: 0.3s;
}
.goal-cards div:hover {
  transform: scale(0.95);
}
.goal-cards h3 {
  color: var(--main);
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
}
.goal-cards li {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid #ffe9e9;
}

/* contact */

form {
  margin: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
}
form input,
textarea {
  margin: 7px 0;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid rgb(208, 161, 161);
}
form button {
  border-radius: 15px;
  padding: 15px;
  background-color: var(--main);
  color: var(--bright);
  cursor: pointer;
  font-size: 18px;
  border: none;
}
form button:hover {
  background-color: var(--hover);
}

/* footer */

footer {
  text-align: center;
  background-color: var(--main);
  padding: 15px;
  margin-top: 50px;
}
footer p {
  color: var(--bright);
}
.social-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 5px;
}
.social-links a {
  color: var(--bright);
  font-size: 24px;
  transition: 0.3s;
}
.social-links a:hover {
  color: rgb(216, 125, 125);
  transform: translateY(-3px);
}

/* smaller screens */

@media (max-width: 900px) {
  html {
    scroll-padding-top: 200px;
  }
  /* Navigation bar */

  .nav-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    top: 90px;
    width: 100%;
    left: 0;
    background-color: var(--main);
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 6px 6px var(--shadow);
  }
  .logo {
    margin: auto;
    font-size: 40px;
    letter-spacing: normal;
  }

  /* home */

  .home {
    flex-direction: column;
    padding: 300px 8% 0;
    text-align: center;
  }
  .home-text,
  .home-image {
    width: 100%;
  }
  .subtitle {
    width: auto;
    white-space: wrap;
  }
  .btn {
    margin: auto;
  }
  .home-image img {
    margin-top: 40px;
  }

  /* about */

  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    margin-right: 30px;
  }

  /* goals */

  .goal-cards div {
    width: 90%;
  }

  /* contact */

  form {
    width: 90%;
  }
}
